USE [master]
GO
/****** Object:  Database [Airport]    Script Date: 27.09.2020 17:34:45 ******/
CREATE DATABASE [Airport]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kdz1_airport', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS2017\MSSQL\DATA\kdz1_airport.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kdz1_airport_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS2017\MSSQL\DATA\kdz1_airport_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Airport].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Airport]
GO
/****** Object:  UserDefinedFunction [dbo].[Count_Of_People_InPlane_ByClass]    Script Date: 27.09.2020 17:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Count_Of_People_InPlane_ByClass]
(
	-- Add the parameters for the function here
	@Class_code int,
	@Flight_num nvarchar(20)
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Count_OfPeople_ByClass int

	-- Add the T-SQL statements to compute the return value here
	set @Count_OfPeople_ByClass = (select count(*) from Ticket where Class_Code = @Class_code and Flight_Num = @Flight_num);

	-- Return the result of the function
	RETURN @Count_OfPeople_ByClass

END
GO
/****** Object:  UserDefinedFunction [dbo].[Country_Traffic_By_Period]    Script Date: 27.09.2020 17:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Country_Traffic_By_Period]
(
	-- Add the parameters for the function here
	@Since datetime,
	@By datetime,
	@CountryCode char(3)
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Count_of_people int

	-- Add the T-SQL statements to compute the return value here
	set @Count_of_people = (select count(*) from Ticket 
	where Flight_Num in(select Flight_Num from Flight 
	where @Since <= Arrival_DateTime and Arrival_DateTime <= @By and Code_IATA_to in (select Code_IATA from Airport 
	where Country_Code = @CountryCode)));

	-- Return the result of the function
	RETURN @Count_of_people

END
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 27.09.2020 17:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[Flight_Num] [nvarchar](20) NOT NULL,
	[Arrival_DateTime] [datetime] NOT NULL,
	[Departure_DateTime] [datetime] NOT NULL,
	[Plane_Serial_Num] [nvarchar](20) NOT NULL,
	[Code_IATA_from] [char](3) NOT NULL,
	[Code_IATA_to] [char](3) NOT NULL,
	[Code_ICAO] [char](3) NULL,
 CONSTRAINT [XPKFlight] PRIMARY KEY CLUSTERED 
(
	[Flight_Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Ticket_Code] [nvarchar](20) NOT NULL,
	[Tax] [real] NOT NULL,
	[Agency_Fee] [real] NOT NULL,
	[Cost] [real] NOT NULL,
	[Allowance_Code] [int] NOT NULL,
	[Class_Code] [int] NOT NULL,
	[Reservation_Code] [nvarchar](20) NULL,
	[Passport_Info] [int] NOT NULL,
	[Flight_Num] [nvarchar](20) NOT NULL,
 CONSTRAINT [XPKTicket] PRIMARY KEY CLUSTERED 
(
	[Ticket_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[Reservation_Code] [nvarchar](20) NOT NULL,
	[Reservation_Date] [datetime] NOT NULL,
	[Prepay] [real] NOT NULL,
	[Passport_Info] [int] NOT NULL,
	[Flight_Num] [nvarchar](20) NOT NULL,
 CONSTRAINT [XPKReservation] PRIMARY KEY CLUSTERED 
(
	[Reservation_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ticket_analytics]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create VIEW [dbo].[ticket_analytics] as 
select * from (select DISTINCT YEAR(Departure_DateTime) as 'Year',
SUM(Cost) over(partition by YEAR(Departure_DateTime)) as Total_cost,
AVG(Cost) over(partition by YEAR(Departure_DateTime)) as Average_Cost,
MIN(Cost) over(partition by YEAR(Departure_DateTime)) as Min_Cost,
MAX(Cost) over(partition by YEAR(Departure_DateTime)) as Max_Cost,
SUM(Agency_Fee) over(partition by YEAR(Departure_DateTime)) as Total_Agency_Fee,
AVG(Agency_Fee) over(partition by YEAR(Departure_DateTime)) as Average_Agency_Fee,
MIN(Agency_Fee) over(partition by YEAR(Departure_DateTime)) as Min_Agency_Fee,
MAX(Agency_Fee) over(partition by YEAR(Departure_DateTime)) as Max_Agency_Fee,
SUM(Tax) over(partition by YEAR(Departure_DateTime)) as Total_Tax,
AVG(Tax) over(partition by YEAR(Departure_DateTime)) as Average_Tax,
MIN(Tax) over(partition by YEAR(Departure_DateTime)) as Min_Tax,
MAX(Prepay) over(partition by YEAR(Departure_DateTime)) as Max_Tax,
SUM(Prepay) over(partition by YEAR(Departure_DateTime)) as Total_Prepay,
AVG(Prepay) over(partition by YEAR(Departure_DateTime)) as Average_Prepay,
MIN(Prepay) over(partition by YEAR(Departure_DateTime)) as Min_Prepay,
MAX(Prepay) over(partition by YEAR(Departure_DateTime)) as Max_Prepay
from Ticket t inner join Flight f on t.Flight_Num=f.Flight_Num
inner join Reservation r on t.Reservation_Code=t.Reservation_Code) as tt;
GO
/****** Object:  Table [dbo].[Crew_member]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crew_member](
	[Crew_Member_num] [int] NOT NULL,
	[Role_code] [int] NOT NULL,
	[Passport_Info] [int] NULL,
 CONSTRAINT [XPKCrew_member] PRIMARY KEY CLUSTERED 
(
	[Crew_Member_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crew_member_Flight]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crew_member_Flight](
	[Crew_Member_num] [int] NOT NULL,
	[Flight_Num] [nvarchar](20) NOT NULL,
 CONSTRAINT [XPKCrew_member_Flight] PRIMARY KEY CLUSTERED 
(
	[Crew_Member_num] ASC,
	[Flight_Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crow_member_role]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crow_member_role](
	[Role_code] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [XPKCrow_member_role] PRIMARY KEY CLUSTERED 
(
	[Role_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Passport_Info] [int] NOT NULL,
	[Full_Name] [nvarchar](50) NOT NULL,
	[Phone_Num] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Birth_Date] [datetime] NOT NULL,
 CONSTRAINT [XPKPerson] PRIMARY KEY CLUSTERED 
(
	[Passport_Info] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[crew_member_data]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[crew_member_data]
AS
SELECT        p.Full_Name, cmr.Name, cmr.Role_code, flight_num.Crew_Member_num, flight_num.Flight_number, p.Gender, p.Birth_Date, p.Passport_Info, p.Phone_Num, p.Email
FROM            dbo.Crew_member AS cm LEFT OUTER JOIN
                         dbo.Crow_member_role AS cmr ON cm.Role_code = cmr.Role_code LEFT OUTER JOIN
                         dbo.Person AS p ON cm.Passport_Info = p.Passport_Info INNER JOIN
                             (SELECT        Crew_Member_num, COUNT(*) AS Flight_number
                               FROM            dbo.Crew_member_Flight
                               GROUP BY Crew_Member_num) AS flight_num ON cm.Crew_Member_num = flight_num.Crew_Member_num
GO
/****** Object:  View [dbo].[ticket_sales_analysis]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ticket_sales_analysis]
AS
select agg_table.[Year], agg_table.[The total cost], 
round((agg_table.[The total cost] - LAG(agg_table.[The total cost], 1, 0) OVER(ORDER BY agg_table.[Year]))/LAG(agg_table.[The total cost], 1, agg_table.[The total cost]) 
OVER(ORDER BY agg_table.[Year]) * 100, 0) 
as 'Increase in ticket sales %'
from (select YEAR(f.Arrival_DateTime) as 'Year', SUM(t.Cost) as 'The total cost' 
from Flight f left join Ticket t on f.Flight_Num=t.Flight_Num group by YEAR(f.Arrival_DateTime)) as agg_table;
GO
/****** Object:  Table [dbo].[Airline]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airline](
	[Code_ICAO] [char](3) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Web_Site] [nvarchar](50) NOT NULL,
	[Country_Code] [char](3) NOT NULL,
 CONSTRAINT [XPKAirline] PRIMARY KEY CLUSTERED 
(
	[Code_ICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plane]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plane](
	[Plane_Serial_Num] [nvarchar](20) NOT NULL,
	[Manufacture_Date] [datetime] NOT NULL,
	[Code_ICAO] [char](3) NULL,
	[Model_Code] [nvarchar](20) NOT NULL,
 CONSTRAINT [XPKPlane] PRIMARY KEY CLUSTERED 
(
	[Plane_Serial_Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plane_model]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plane_model](
	[Model_Code] [nvarchar](20) NOT NULL,
	[Sitting_Nums] [int] NOT NULL,
	[Fuel_Waste] [real] NOT NULL,
	[Load_Capacity] [real] NOT NULL,
	[Manufacturer] [nvarchar](30) NOT NULL,
	[Max_Altitude] [real] NOT NULL,
	[Max_Speed] [real] NOT NULL,
 CONSTRAINT [XPKPlane_model] PRIMARY KEY CLUSTERED 
(
	[Model_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[for_excel_report]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[for_excel_report]
AS
SELECT        p.Plane_Serial_Num, p.Manufacture_Date, pm.Model_Code, pm.Sitting_Nums, pm.Fuel_Waste, pm.Load_Capacity, pm.Manufacturer, pm.Max_Altitude, pm.Max_Speed, a.Name AS 'Name of airline', 
                         a.Country_Code AS 'Country code of airline'
FROM            dbo.Plane AS p LEFT OUTER JOIN
                         dbo.Airline AS a ON p.Code_ICAO = a.Code_ICAO LEFT OUTER JOIN
                         dbo.Plane_model AS pm ON pm.Model_Code = p.Model_Code
GO
/****** Object:  Table [dbo].[Airline_phones]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airline_phones](
	[Phone_num] [int] NOT NULL,
	[Code_ICAO] [char](3) NOT NULL,
 CONSTRAINT [XPKAirline_phones] PRIMARY KEY CLUSTERED 
(
	[Phone_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airport]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airport](
	[Code_IATA] [char](3) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[City_Id] [int] NOT NULL,
	[Country_Code] [char](3) NOT NULL,
 CONSTRAINT [XPKAirport] PRIMARY KEY CLUSTERED 
(
	[Code_IATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Baggage_allowance]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baggage_allowance](
	[Allowance_Code] [int] NOT NULL,
	[Allowance_Name] [nvarchar](30) NOT NULL,
	[Max_Weight] [int] NOT NULL,
	[Cost] [real] NOT NULL,
 CONSTRAINT [XPKBaggage_allowance] PRIMARY KEY CLUSTERED 
(
	[Allowance_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[City_Id] [int] NOT NULL,
	[Country_Code] [char](3) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [XPKCity] PRIMARY KEY CLUSTERED 
(
	[City_Id] ASC,
	[Country_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Country_Code] [char](3) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Continent] [nvarchar](100) NOT NULL,
	[Flight_Able] [bit] NOT NULL,
 CONSTRAINT [XPKCountry] PRIMARY KEY CLUSTERED 
(
	[Country_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight_class]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight_class](
	[Class_Code] [int] NOT NULL,
	[Class_Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [XPKFlight_class] PRIMARY KEY CLUSTERED 
(
	[Class_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Airline] ([Code_ICAO], [Name], [Web_Site], [Country_Code]) VALUES (N'air', N'debitis', N'http://cristschimmel.org/', N'ABW')
INSERT [dbo].[Airline] ([Code_ICAO], [Name], [Web_Site], [Country_Code]) VALUES (N'awa', N'eos', N'http://cartermraz.com/', N'AFG')
INSERT [dbo].[Airline] ([Code_ICAO], [Name], [Web_Site], [Country_Code]) VALUES (N'bda', N'nemo', N'http://stanton.biz/', N'AGO')
GO
INSERT [dbo].[Airline_phones] ([Phone_num], [Code_ICAO]) VALUES (14, N'ith')
INSERT [dbo].[Airline_phones] ([Phone_num], [Code_ICAO]) VALUES (16, N'xkf')
INSERT [dbo].[Airline_phones] ([Phone_num], [Code_ICAO]) VALUES (18, N'fng')
INSERT [dbo].[Airport] ([Code_IATA], [Name], [City_Id], [Country_Code]) VALUES (N'aaf', N'Dicki LLC', 2205, N'CHN')
INSERT [dbo].[Airport] ([Code_IATA], [Name], [City_Id], [Country_Code]) VALUES (N'abj', N'Walter-Howe', 2313, N'COD')
INSERT [dbo].[Airport] ([Code_IATA], [Name], [City_Id], [Country_Code]) VALUES (N'abw', N'Von Inc', 2691, N'MDA')
GO
INSERT [dbo].[Baggage_allowance] ([Allowance_Code], [Allowance_Name], [Max_Weight], [Cost]) VALUES (2, N'est', 19, 209.6)
INSERT [dbo].[Baggage_allowance] ([Allowance_Code], [Allowance_Name], [Max_Weight], [Cost]) VALUES (21, N'quo', 11, 5.247266E+08)
INSERT [dbo].[Baggage_allowance] ([Allowance_Code], [Allowance_Name], [Max_Weight], [Cost]) VALUES (51, N'ullam', 90, 502.3)
INSERT [dbo].[City] ([City_Id], [Country_Code], [Name]) VALUES (129, N'ABW', N'Oranjestad')
INSERT [dbo].[City] ([City_Id], [Country_Code], [Name]) VALUES (3, N'AFG', N'Herat')
INSERT [dbo].[City] ([City_Id], [Country_Code], [Name]) VALUES (1, N'AFG', N'Kabul')
GO
INSERT [dbo].[Country] ([Country_Code], [Name], [Continent], [Flight_Able]) VALUES (N'ABW', N'Aruba', N'NorthAmerica', 1)
INSERT [dbo].[Country] ([Country_Code], [Name], [Continent], [Flight_Able]) VALUES (N'AFG', N'Afghanistan', N'Asia', 1)
INSERT [dbo].[Country] ([Country_Code], [Name], [Continent], [Flight_Able]) VALUES (N'AGO', N'Angola', N'Africa', 0)
GO
INSERT [dbo].[Crew_member] ([Crew_Member_num], [Role_code], [Passport_Info]) VALUES (1, 1300, 85)
INSERT [dbo].[Crew_member] ([Crew_Member_num], [Role_code], [Passport_Info]) VALUES (2, 1344, 1393)
INSERT [dbo].[Crew_member] ([Crew_Member_num], [Role_code], [Passport_Info]) VALUES (3, 633, 2144)
INSERT [dbo].[Crew_member_Flight] ([Crew_Member_num], [Flight_Num]) VALUES (1, N'ckfq')
INSERT [dbo].[Crew_member_Flight] ([Crew_Member_num], [Flight_Num]) VALUES (1, N'dcqv')
INSERT [dbo].[Crew_member_Flight] ([Crew_Member_num], [Flight_Num]) VALUES (1, N'jlmp')
GO
INSERT [dbo].[Crow_member_role] ([Role_code], [Name]) VALUES (35, N'alias')
INSERT [dbo].[Crow_member_role] ([Role_code], [Name]) VALUES (219, N'dolores')
INSERT [dbo].[Crow_member_role] ([Role_code], [Name]) VALUES (356, N'sequi')
INSERT [dbo].[Flight] ([Flight_Num], [Arrival_DateTime], [Departure_DateTime], [Plane_Serial_Num], [Code_IATA_from], [Code_IATA_to], [Code_ICAO]) VALUES (N'acvl', CAST(N'2015-11-01T23:01:40.933' AS DateTime), CAST(N'2015-11-03T23:01:40.933' AS DateTime), N'efgq', N'hnr', N'bic', N'air')
INSERT [dbo].[Flight] ([Flight_Num], [Arrival_DateTime], [Departure_DateTime], [Plane_Serial_Num], [Code_IATA_from], [Code_IATA_to], [Code_ICAO]) VALUES (N'agmy', CAST(N'2012-12-08T23:01:40.923' AS DateTime), CAST(N'2012-12-10T23:01:40.923' AS DateTime), N'ayqi', N'alf', N'whm', N'awa')
INSERT [dbo].[Flight] ([Flight_Num], [Arrival_DateTime], [Departure_DateTime], [Plane_Serial_Num], [Code_IATA_from], [Code_IATA_to], [Code_ICAO]) VALUES (N'alsm', CAST(N'2010-09-22T23:01:40.930' AS DateTime), CAST(N'2010-09-24T23:01:40.930' AS DateTime), N'cucl', N'bun', N'wwq', N'bda')
GO
INSERT [dbo].[Flight_class] ([Class_Code], [Class_Name]) VALUES (1, N'ut')
INSERT [dbo].[Flight_class] ([Class_Code], [Class_Name]) VALUES (19, N'optio')
INSERT [dbo].[Flight_class] ([Class_Code], [Class_Name]) VALUES (47, N'ea')
INSERT [dbo].[Person] ([Passport_Info], [Full_Name], [Phone_Num], [Email], [Gender], [Birth_Date]) VALUES (85, N'Dr. Eli Howe II', 122, N'jeffry02@example.com', N'F', CAST(N'1972-02-29T02:58:10.000' AS DateTime))
INSERT [dbo].[Person] ([Passport_Info], [Full_Name], [Phone_Num], [Email], [Gender], [Birth_Date]) VALUES (289, N'Tom Hodkiewicz', 2147483647, N'dolson@example.org', N'M', CAST(N'2013-07-29T11:28:36.000' AS DateTime))
INSERT [dbo].[Person] ([Passport_Info], [Full_Name], [Phone_Num], [Email], [Gender], [Birth_Date]) VALUES (410, N'Gunnar Harber', 2147483647, N'anastasia34@example.org', N'M', CAST(N'2005-11-21T09:47:27.000' AS DateTime))
GO
INSERT [dbo].[Plane] ([Plane_Serial_Num], [Manufacture_Date], [Code_ICAO], [Model_Code]) VALUES (N'abwc', CAST(N'1998-07-18T01:25:00.000' AS DateTime), N'air', N'hjtx')
INSERT [dbo].[Plane] ([Plane_Serial_Num], [Manufacture_Date], [Code_ICAO], [Model_Code]) VALUES (N'acst', CAST(N'1998-08-07T19:11:00.000' AS DateTime), N'awa', N'hqdu')
INSERT [dbo].[Plane] ([Plane_Serial_Num], [Manufacture_Date], [Code_ICAO], [Model_Code]) VALUES (N'acty', CAST(N'1990-09-21T11:20:00.000' AS DateTime), N'bda', N'hsye')
GO
INSERT [dbo].[Plane_model] ([Model_Code], [Sitting_Nums], [Fuel_Waste], [Load_Capacity], [Manufacturer], [Max_Altitude], [Max_Speed]) VALUES (N'hjtx', 739, 19172, 400, N'Abernathy, Bailey and Eichmann', 7100, 760)
INSERT [dbo].[Plane_model] ([Model_Code], [Sitting_Nums], [Fuel_Waste], [Load_Capacity], [Manufacturer], [Max_Altitude], [Max_Speed]) VALUES (N'hqdu', 3662, 794, 23274, N'Reynolds and Sons', 620, 260)
INSERT [dbo].[Plane_model] ([Model_Code], [Sitting_Nums], [Fuel_Waste], [Load_Capacity], [Manufacturer], [Max_Altitude], [Max_Speed]) VALUES (N'hsye', 2766, 215084, 473, N'Bergnaum Group', 7100, 760)
GO
INSERT [dbo].[Reservation] ([Reservation_Code], [Reservation_Date], [Prepay], [Passport_Info], [Flight_Num]) VALUES (N'abhj', CAST(N'2015-10-23T23:01:00.000' AS DateTime), 16176.36, 6482, N'pxxf')
INSERT [dbo].[Reservation] ([Reservation_Code], [Reservation_Date], [Prepay], [Passport_Info], [Flight_Num]) VALUES (N'anbx', CAST(N'2010-03-27T23:01:00.000' AS DateTime), 5851.2793, 5590, N'muwo')
INSERT [dbo].[Reservation] ([Reservation_Code], [Reservation_Date], [Prepay], [Passport_Info], [Flight_Num]) VALUES (N'bito', CAST(N'2016-09-13T23:01:00.000' AS DateTime), 3623.91968, 3251, N'gerj')
INSERT [dbo].[Ticket] ([Ticket_Code], [Tax], [Agency_Fee], [Cost], [Allowance_Code], [Class_Code], [Reservation_Code], [Passport_Info], [Flight_Num]) VALUES (N'acad', 82, 4, 12102.79, 160, 167, N'dhfe', 8570, N'wldp')
INSERT [dbo].[Ticket] ([Ticket_Code], [Tax], [Agency_Fee], [Cost], [Allowance_Code], [Class_Code], [Reservation_Code], [Passport_Info], [Flight_Num]) VALUES (N'adpl', 2, 97, 12114.58, 132, 204, N'qpje', 8420, N'vjbw')
INSERT [dbo].[Ticket] ([Ticket_Code], [Tax], [Agency_Fee], [Cost], [Allowance_Code], [Class_Code], [Reservation_Code], [Passport_Info], [Flight_Num]) VALUES (N'afxm', 59, 11, 5138.823, 207, 124, N'nqcd', 7804, N'sopt')
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20191230-173655]    Script Date: 27.09.2020 17:34:46 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20191230-173655] ON [dbo].[City]
(
	[Country_Code] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20191230-173455]    Script Date: 27.09.2020 17:34:46 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20191230-173455] ON [dbo].[Country]
(
	[Continent] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Airline]  WITH CHECK ADD  CONSTRAINT [Country_Airline] FOREIGN KEY([Country_Code])
REFERENCES [dbo].[Country] ([Country_Code])
GO
ALTER TABLE [dbo].[Airline] CHECK CONSTRAINT [Country_Airline]
GO
ALTER TABLE [dbo].[Airline_phones]  WITH CHECK ADD  CONSTRAINT [Airline_A_phones] FOREIGN KEY([Code_ICAO])
REFERENCES [dbo].[Airline] ([Code_ICAO])
GO
ALTER TABLE [dbo].[Airline_phones] CHECK CONSTRAINT [Airline_A_phones]
GO
ALTER TABLE [dbo].[Airport]  WITH CHECK ADD  CONSTRAINT [City_Airport] FOREIGN KEY([City_Id], [Country_Code])
REFERENCES [dbo].[City] ([City_Id], [Country_Code])
GO
ALTER TABLE [dbo].[Airport] CHECK CONSTRAINT [City_Airport]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [Country_City] FOREIGN KEY([Country_Code])
REFERENCES [dbo].[Country] ([Country_Code])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [Country_City]
GO
ALTER TABLE [dbo].[Crew_member]  WITH CHECK ADD  CONSTRAINT [Person_Member] FOREIGN KEY([Passport_Info])
REFERENCES [dbo].[Person] ([Passport_Info])
GO
ALTER TABLE [dbo].[Crew_member] CHECK CONSTRAINT [Person_Member]
GO
ALTER TABLE [dbo].[Crew_member]  WITH CHECK ADD  CONSTRAINT [Role_Member] FOREIGN KEY([Role_code])
REFERENCES [dbo].[Crow_member_role] ([Role_code])
GO
ALTER TABLE [dbo].[Crew_member] CHECK CONSTRAINT [Role_Member]
GO
ALTER TABLE [dbo].[Crew_member_Flight]  WITH CHECK ADD  CONSTRAINT [R_35] FOREIGN KEY([Crew_Member_num])
REFERENCES [dbo].[Crew_member] ([Crew_Member_num])
GO
ALTER TABLE [dbo].[Crew_member_Flight] CHECK CONSTRAINT [R_35]
GO
ALTER TABLE [dbo].[Crew_member_Flight]  WITH CHECK ADD  CONSTRAINT [R_36] FOREIGN KEY([Flight_Num])
REFERENCES [dbo].[Flight] ([Flight_Num])
GO
ALTER TABLE [dbo].[Crew_member_Flight] CHECK CONSTRAINT [R_36]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [Airport_to_Flight] FOREIGN KEY([Code_IATA_to])
REFERENCES [dbo].[Airport] ([Code_IATA])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [Airport_to_Flight]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK_Flight_Airline] FOREIGN KEY([Code_ICAO])
REFERENCES [dbo].[Airline] ([Code_ICAO])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK_Flight_Airline]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK_Flight_Airport] FOREIGN KEY([Code_IATA_from])
REFERENCES [dbo].[Airport] ([Code_IATA])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK_Flight_Airport]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [Plane_Flight] FOREIGN KEY([Plane_Serial_Num])
REFERENCES [dbo].[Plane] ([Plane_Serial_Num])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [Plane_Flight]
GO
ALTER TABLE [dbo].[Plane]  WITH CHECK ADD  CONSTRAINT [Airline_Plane] FOREIGN KEY([Code_ICAO])
REFERENCES [dbo].[Airline] ([Code_ICAO])
GO
ALTER TABLE [dbo].[Plane] CHECK CONSTRAINT [Airline_Plane]
GO
ALTER TABLE [dbo].[Plane]  WITH CHECK ADD  CONSTRAINT [Model_Plane] FOREIGN KEY([Model_Code])
REFERENCES [dbo].[Plane_model] ([Model_Code])
GO
ALTER TABLE [dbo].[Plane] CHECK CONSTRAINT [Model_Plane]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [Flight_Reservation] FOREIGN KEY([Flight_Num])
REFERENCES [dbo].[Flight] ([Flight_Num])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [Flight_Reservation]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [Person_Reservation] FOREIGN KEY([Passport_Info])
REFERENCES [dbo].[Person] ([Passport_Info])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [Person_Reservation]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [Baggage_Ticket] FOREIGN KEY([Allowance_Code])
REFERENCES [dbo].[Baggage_allowance] ([Allowance_Code])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [Baggage_Ticket]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [Class_Ticket] FOREIGN KEY([Class_Code])
REFERENCES [dbo].[Flight_class] ([Class_Code])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [Class_Ticket]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [Flight_Ticket] FOREIGN KEY([Flight_Num])
REFERENCES [dbo].[Flight] ([Flight_Num])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [Flight_Ticket]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [Person_Ticket] FOREIGN KEY([Passport_Info])
REFERENCES [dbo].[Person] ([Passport_Info])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [Person_Ticket]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [Reservation_Ticket] FOREIGN KEY([Reservation_Code])
REFERENCES [dbo].[Reservation] ([Reservation_Code])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [Reservation_Ticket]
GO
ALTER TABLE [dbo].[Airline_phones]  WITH CHECK ADD  CONSTRAINT [CK_Airline_phones] CHECK  (([Phone_num]>(0)))
GO
ALTER TABLE [dbo].[Airline_phones] CHECK CONSTRAINT [CK_Airline_phones]
GO
ALTER TABLE [dbo].[Baggage_allowance]  WITH CHECK ADD  CONSTRAINT [CK_Baggage_allowance] CHECK  (([Max_Weight]>(0)))
GO
ALTER TABLE [dbo].[Baggage_allowance] CHECK CONSTRAINT [CK_Baggage_allowance]
GO
ALTER TABLE [dbo].[Baggage_allowance]  WITH CHECK ADD  CONSTRAINT [CK_Baggage_allowance_1] CHECK  (([Cost]>(0)))
GO
ALTER TABLE [dbo].[Baggage_allowance] CHECK CONSTRAINT [CK_Baggage_allowance_1]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [CK_Flight] CHECK  (([Arrival_DateTime]<>[Departure_DateTime]))
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [CK_Flight]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [CK_Person] CHECK  (([Phone_Num]>(0)))
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [CK_Person]
GO
ALTER TABLE [dbo].[Plane_model]  WITH CHECK ADD  CONSTRAINT [CK_Plane_model] CHECK  (([Max_Altitude]>(0)))
GO
ALTER TABLE [dbo].[Plane_model] CHECK CONSTRAINT [CK_Plane_model]
GO
ALTER TABLE [dbo].[Plane_model]  WITH CHECK ADD  CONSTRAINT [CK_Plane_model_1] CHECK  (([Max_Speed]>(0)))
GO
ALTER TABLE [dbo].[Plane_model] CHECK CONSTRAINT [CK_Plane_model_1]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [CK_Reservation] CHECK  (([Prepay]>=(0)))
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [CK_Reservation]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket] CHECK  (([Cost]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_1] CHECK  (([Agency_fee]>=(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_1]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_2] CHECK  (([Tax]>=(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_2]
GO
/****** Object:  StoredProcedure [dbo].[delete_client]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[delete_client]
	@pass_info int
as
begin
	begin transaction
	delete from Ticket where Passport_Info = @pass_info
	delete from Reservation where Passport_Info = @pass_info
	delete from Person where Passport_Info = @pass_info
	commit
end

GO
/****** Object:  StoredProcedure [dbo].[NewCrewMemberByName]    Script Date: 27.09.2020 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[NewCrewMemberByName] 
	-- Add the parameters for the stored procedure here
	@FullName nvarchar(50),
	@CrewMemberNum int,
	@RoleCode int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
		insert into Crew_member values
		(@CrewMemberNum, @RoleCode, (select Passport_Info from Person where Full_Name = @FullName));
	end try
	begin catch
		declare @Full_name_count int;
		set @Full_name_count = (select count(*) from Person where Full_Name = @FullName);
		if @Full_name_count > 0
			(select 'Error in table Person')
		else
			select 'Unknown error'
	end catch
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[42] 4[19] 2[23] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "cm"
            Begin Extent = 
               Top = 95
               Left = 30
               Bottom = 208
               Right = 226
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "cmr"
            Begin Extent = 
               Top = 112
               Left = 541
               Bottom = 208
               Right = 715
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 216
               Left = 543
               Bottom = 346
               Right = 717
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "flight_num"
            Begin Extent = 
               Top = 6
               Left = 264
               Bottom = 102
               Right = 460
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'crew_member_data'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'crew_member_data'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "p"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 136
               Right = 436
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pm"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'for_excel_report'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'for_excel_report'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ticket_sales_analysis'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ticket_sales_analysis'
GO
USE [master]
GO
